<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-md-4">
      <% if cocktail.photo? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
        <div class="card-category"> </div>
            <div class="card-description text-center">
                <h2><%= cocktail.name %></h2>
                <%= link_to "Show", cocktail_path(cocktail), class: "card-link" %>
            </div>
        </div>
      </div>
       <% end %>
    <% end %>
    </div>
  </div>

