<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="app/assets/images/logo.png" alt="logo">
  </a>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Les cocktails</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Add a Cocktail</a>

    <!-- Profile picture with dropdown list -->
    </div>
</div>
